<div class="books-container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1 class="page-title">The last books</h1>
        </div>
        <div class="col-md-6 col-sm-12">
            
        </div>
    </div>
    
    {{#grouped_each 2 books}}
    <div class="row">
        {{#each this}}
            <div class="col-md-6 col-sm-12">
                <div class="row book-container">
                    <div class="col-4" >
                        <img class="bookImage" src="{{bookImageUrl}}"/>
                    </div>
                    <div class="col-8 d-flex align-items-start flex-column">
                        <h1 class="book-title mb-auto bd-highlight"><a href="#/books/{{_id}}">{{title}}</a></h1>
                        <h2 class="book-author mb-auto bd-highlight">by {{author}}</h2>
                        <p class="book-category mb-auto bd-highlight">{{category}}
                        </p>
                        <div class="book-price">{{formatNumber price style="currency" currency="USD"}}</div>
                        <div class="book-date">added {{formatRelative addedAt}}</div>
                    </div>
                </div>
            </div>  
        {{/each}}
    </div>
    {{/grouped_each}}
</div>